<%- include('../../partials/header'); %>
<div class="banner">
    <%- include('../../partials/banner'); %>
</div>

<section class="information-box">
    <%- include('../../partials/upgrades'); %>
    <%- include('../../partials/reviews'); %>
    