<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main>
        <%- include('../partials/header'); %>
        <div class="banner">
            <h1>Welcome to CSE Motors!</h1>
            <div class="side-bar">
                <h1>DMC Delorean</h1>
                <h2>3 Cup holders Superman doors Fuzzy dice!</h2>
                <button class="botton-side-bar">Own Today</button>
            </div>
        </div>
    
        <section class="information-box">
            <div class="upgrades">
                <h1>Deloren Upgrades</h1>
                <div class="upgrades-session">
                    <div class="upgrade-item">
                        <span><img src="./images/upgrades/flux-cap.png" alt="flux-cap"></span>
                        <a href="/">Flux Capacitor</a>
                    </div>
                    <div class="upgrade-item">
                        <span><img src="./images/upgrades//flame.jpg" alt="flame"></span>
                        <a href="/">Flame Decals</a>
                    </div>
                    <div class="upgrade-item">
                        <span><img src="./images/upgrades/bumper_sticker.jpg" alt="bumper-sticker"></span>
                        <a href="/">Bumper Stickers</a>
                    </div>
                    <div class="upgrade-item">
                        <span><img src="./images/upgrades//hub-cap.jpg" alt="hub-caps"></span>
                        
                        <a href="/">Hub Caps</a>
                    </div>
                </div>
                
            </div>
            <div class="reviews">
                <h1>DMC Delorean Reviews</h1>
                <ul>
                    <li><p>"So fast it's almost like travelling in time."(4/5)</p></li>
                    <li><p>"Coolest ride on the road."(4/5)</p></li>
                    <li><p>"I'm feeling McFly."(5/5)</p></li>
                    <li><p>"The most futuristic ride of our day."(4.5/5)</p></li>
                    <li><p>"80's livin and I love it!"(5/5)</p></li>
                </ul>
            </div>
        </section>
      
    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </main>

    
  
       

</body>
</html>