<h1>CSE Motors Home</h1>

<div class="banner">
    <%- include('../partials/banner'); %>
</div>

<section class="information-box">
    <%- include('../partials/upgrades'); %>
    <%- include('../partials/reviews'); %>
    
</section>
