<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <p><%- messages() %></p>

    <% if (errors && errors.length > 0) { %>
      <ul class="error-messages">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <p>ALL FIELDS ARE REQUIRED</p>
    <div class="add-vehicle">
        <div class="form-container">
          <form action="/inv/add-vehicle" method="POST" class="registerform-">
            <div class="form-group">
                <label for="classification">Classification:</label>
                <div class="form-group">
                    <select id="classification" name="classification" required>
                        <%- classes %> 
                    </select>
                </div>
            </div>
    
            <div class="form-group">
                <label for="inv_make">Make:</label>
                <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters">
            </div>
    
            <div class="form-group">
                <label for="inv_model">Model:</label>
                <input type="text" id="inv_model" name="inv_model" required placeholder="Min of 3 characters">
            </div>
    
            <div class="form-group">
                <label for="inv_description">Description:</label>
                <input type="text" id="inv_description" name="inv_description" required>
            </div>
    
            <div class="form-group">
                <label for="inv_image">Image Path:</label>
                <input type="text" id="inv_image" name="inv_image" required placeholder="/images/vehicles/">
            </div>
    
            <div class="form-group">
                <label for="inv_thumbnail">Thumbnail Path:</label>
                <input type="text" id="inv_thumbnail" name="inv_thumbnail" required placeholder="/images/vehicles/">
            </div>
    
            <div class="form-group">
                <label for="inv_price">Price:</label>
                <input type="text" id="inv_price" name="inv_price" required placeholder="Decimal or Integer">
            </div>
    
            <div class="form-group">
                <label for="inv_year">Year:</label>
                <input type="text" id="inv_year" name="inv_year" required placeholder="4-digit year">
            </div>
    
            <div class="form-group">
                <label for="inv_miles">Miles:</label>
                <input type="text" id="inv_miles" name="inv_miles" required placeholder="Digits Only">
            </div>
    
            <div class="form-group">
                <label for="inv_color">Color:</label>
                <input type="text" id="inv_color" name="inv_color" required placeholder="Enter a color">
            </div>
    
            <button type="submit">Register</button>
        </form>
        </div>
    </div>